<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <br /><br /><br />
  <img src="{{ IMG_PATH }}" height="200" width="200" />
  <br /><br /><br />
  <h4>Bienvenue sur MobileOuiLa !</h4>
</ion-content>
