<ion-header>
  <ion-toolbar>
    <ion-title text-center>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-img src={{IMG_PATH}}></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button size="large" (click)="goLogin(true)">
          <ion-icon slot="start" name="person"></ion-icon>
          Professeur
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="large" (click)="goLogin(false)">
          <ion-icon slot="start" name="school"></ion-icon>
          Étudiant
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <ion-item lines="none">
          <ion-label (click)="goSubscribe()"> 
            Pas de compte ? Inscrivez-vous !
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
