<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Common start routes -->
    <div *ngFor="let p of pages">
      <ion-menu-toggle *ngIf="p.url">
        <ion-item
          [routerLink]="p.url"
          routerDirection="root"
          routerLinkActive="active"
        >
          <ion-icon [name]="p.icon" slot="start"></ion-icon>
          <ion-label>
            {{ p.title }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </div>

    <ion-menu-toggle>
      <!-- Students routes -->
      <div *ngIf="!admin">
        <ion-item (click)="activateBluetooth()">
          <ion-icon name="bluetooth" slot="start"></ion-icon>
          <ion-label>Bluetooth</ion-label>
        </ion-item>
        <ion-item (click)="scanQRCode()">
          <ion-icon name="qr-scanner" slot="start"></ion-icon>
          <ion-label>QR Code</ion-label>
        </ion-item>
      </div>

      <div *ngIf="admin">
        <ion-item (click)="showQRCode()">
          <ion-icon name="qr-scanner" slot="start"></ion-icon>
          <ion-label>QR Code</ion-label>
        </ion-item>
      </div>
      <!-- Common end routes -->
      <ion-item (click)="logout()">
        <ion-icon name="exit" slot="start"></ion-icon>
        <ion-label>Déconnexion</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>
