<!-- Should create a component for this header -->
<ion-header>
  <ion-toolbar>
    <ion-title text-center>Inscription</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="person"></ion-icon>
            <ion-input formControlName="lastname" placeholder="Nom"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="person"></ion-icon>
            <ion-input
              formControlName="firstname"
              placeholder="Prénom"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="mail"></ion-icon>
            <ion-input formControlName="email" placeholder="E-mail"></ion-input>
          </ion-item>
          <span
            *ngIf="
              registerForm.controls.email.hasError('email') &&
              registerForm.controls.email.dirty
            "
          >
            <br />
            Veuillez saisir une adresse e-mail valide.
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="lock"></ion-icon>
            <ion-input
              formControlName="password"
              type="password"
              placeholder="Mot de passe"
            >
            </ion-input>
          </ion-item>
          <span
            *ngIf="
              registerForm.controls.password.hasError('pattern') &&
              registerForm.controls.password.dirty
            "
          >
            <br />
            Veuillez saisir un mot de passe valide.
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="lock"></ion-icon>
            <ion-input
              formControlName="confirm_password"
              type="password"
              placeholder="Confirmer mot de passe"
            >
            </ion-input>
          </ion-item>
          <span *ngIf="registerForm.controls.confirm_password.hasError('mustMatch') && registerForm.controls.confirm_password.dirty">
            <br />
            Les mots de passe ne correpondent pas
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
            [disabled]="!registerForm.valid"
            size="large"
            color="tertiary"
            expand="block"
            type="submit"
            >S'inscrire</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
