<!-- Should create a component for this header -->
<ion-header>
  <ion-toolbar>
    <ion-title text-center>Connexion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="mail"></ion-icon>
            <ion-input formControlName="email" placeholder="E-mail"></ion-input>
          </ion-item>
          <span
            *ngIf="
              loginForm.controls.email.hasError('email') && loginForm.controls.email.dirty
            "
          >
          <br>
            Veuillez saisir une adresse e-mail valide.
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="lock"></ion-icon>
            <ion-input
              formControlName="password"
              type="password"
              placeholder="Password"
            >
            </ion-input>
          </ion-item>
          <span
            *ngIf="
              loginForm.controls.password.hasError('pattern') &&
              loginForm.controls.password.dirty
            "
          >
          <br>
            Veuillez saisir un mot de passe valide.
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
            [disabled]="!loginForm.valid"
            size="large"
            color="tertiary"
            expand="block"
            type="submit"
            >Connexion</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
